.login {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.login__heading {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.login__input {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  display: block;
  height: 44px;
  font-size: 20px;
  min-width: 360px;
  margin: 10px 0;
  &::-webkit-input-placeholder {
    color: #6D6D6D;
  }
  &::-moz-placeholder {
    color: #6D6D6D;
  }
  &::-moz-placeholder {
    color: #6D6D6D;
  }
  &:-ms-input-placeholder {
    color: #6D6D6D;
  }
}

.login__input-text {
  text-indent: 10px;
}

.login__input-submit {
  background-image: linear-gradient(-180deg, #D16060 0%, #BA6F6F 100%);
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.24);
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(-180deg, #e36262 0%, #BA6F6F 100%);
  }
}

.login__hint {
  margin: 20px 0;
  width: 300px;
  color: #2D2D2D;
  text-align: center;
  line-height: 20px;
}