<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta content="yes" name="X-UA-Compatible">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <title>Whoops!</title>
  <link rel="stylesheet" href="/public/dist/css/app.css">
</head>
<body>
<h1>error <%= code %> <%= httpMessage %></h1>
<h2> <%= reason %> </h2>
<p><a href="/">return home</a></p>
</body>
</html>